.vodafone_login-layout-index__card{
  border-radius: 1rem;
}
.vodafone_login-component-login-form__submit-button{
    color: white;
    background-color: red;
    border-color: grey;
}
.vodafone_login-layout-index__button{
    color: white;
    border-color: grey;
    background-color: grey;
}
.vodafone_login-layout-index__title{
    font-weight: bold;
}
